body{
    font-family: 'Monda', sans-serif;
}
/*
.sidebar{
    display: none;
}
*/
.nav-sidebar{
    margin:60px -20px 20px;
    
}
.nav-sidebar>li>a{
    padding: 13px 20px;
    font-size: 1.5em;
}
.main{
    margin-top: 50px;
/*    background-color: lightgray;*/
    padding: 20px;
    
}
.placeholders{
    margin-top: 10px;
    margin-bottom: 30px; 
}
.placeholder{
    margin-bottom: 20px;
    text-align: center;
    
}

.placeholder img{
    display: inline;
    border-radius: 20px;
}













